[Desktop Entry]
Version=1.0
Name=Pynotify System
Type=Application
Exec=/usr/local/bin/systemd-notify3.py True 30 iptables.service rc-local.service polkit.service autovt@tty2.service
